## Extracting Tables from Wikia Site

In [72]:
import pandas as pd

url = "https://gamedevtycoon.fandom.com/wiki/Game_Development_Based_on_Experience/1.4.3#Multi-Genre_combinations"

In [73]:
list_of_dfs = pd.read_html(url)

In [74]:
df = list_of_dfs[2]
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,Topic,Genres,Genres,Genres,Genres,Genres,Genres,NaN,Audiences,Audiences,Audiences
1,Topic,Action,Adventure,RPG,Simulation,Strategy,Casual,NaN,Y,E,M
2,Abstract,++,+++,−−−,−−−,+,−−−,NaN,+,++,+++
3,Airplane,+++,−−−,+,+++,+++,+++,NaN,+++,+++,++
4,Aliens,+++,+,+++,−−−,++,−−,NaN,++,+++,+++

In [75]:
topics = df.iloc[1:-2,0:7]

In [76]:
def convert_to_numerical(value):
    plus_count = value.count('+')
    minus_count = value.count('−')
    tilde_count = value.count('~')
    
    if tilde_count == 1:
        return 0
    
    if plus_count > minus_count:
        return plus_count
    elif plus_count < minus_count:
        return -minus_count
    else:
        return value

topics = topics.applymap(convert_to_numerical)

In [77]:
topics

                    0       1          2    3           4         5       6
1               Topic  Action  Adventure  RPG  Simulation  Strategy  Casual
2            Abstract       2          3   -3          -3         1      -3
3            Airplane       3         -3    1           3         3       3
4              Aliens       3          1    3          -3         2      -2
5   Alternate History       3          1    3           1         2      -3
..                ...     ...        ...  ...         ...       ...     ...
64        Virtual Pet      -3          1    2           3         2       3
65         Vocabulary      -3         -3   -3           3         3       3
66           Werewolf       3          1    3          -3        -3      -2
67          Wild West       2         -2    3          -3        -3      -2
68            Zombies       3         -2   -3          -3         2       3

[68 rows x 7 columns]

In [78]:
audience = df.iloc[1:-2,-3:]
audience_first_col = df.iloc[1:,0]
audience.insert(0,"Topics",audience_first_col)

In [79]:
audience = audience.applymap(convert_to_numerical)
audience

               Topics   8  9  10
1               Topic   Y  E   M
2            Abstract   1  2   3
3            Airplane   3  3   2
4              Aliens   2  3   3
5   Alternate History  -3  3   3
..                ...  .. ..  ..
64        Virtual Pet   3  1  -2
65         Vocabulary   2  3  -3
66           Werewolf  -2  2   3
67          Wild West   3  2   3
68            Zombies   2  1   3

[68 rows x 4 columns]

In [80]:
system_table = list_of_dfs[3]

In [81]:
systems_topics = system_table.iloc[1:-3,0:7]
systems_topics = systems_topics.applymap(convert_to_numerical)
systems_topics

               0       1          2    3           4         5       6
1         System  Action  Adventure  RPG  Simulation  Strategy  Casual
2             PC       2          3    2           3         3      -3
3            G64       2          3    2           2         3      -2
4            TES       1         -2    1           1        -2       3
5       Master V       2         -2    1           1        -2       3
6       Gameling       1         -2    2           2        -3       3
7      Vena Gear       2          1    1           2        -3       3
8     Vena Oasis       3          1    1           2        -3      -2
9      Super TES       2          2    2           3        -2       2
10    Playsystem       3          1    3           2        -2      -3
11        TES 64       2          1   -2           1        -2       2
12     DreamVast       3         -2    1           3        -2      -2
13  Playsystem 2       3          1    3           2        -2       2
14          mBox       3          1    2           2        -2      -2
15   Game Sphere       1          1   -2           1        -2       3
16            GS       2          2    3           2         2       3
17           PPS       3         -2    3           1         1       1
18      mBox 360       3          2    3           2        -2       2
19           Nuu       1         -3   -2           3        -2       3
20  Playsystem 3       3          2    2           3        -2       1
21       grPhone       1          1   -2           2        -2       3
22         grPad       1          2   -2           2         2       3
23          mPad      -2          2    1           2        -2       2
24           Wuu       2         -2    1           3        -2       3
25           OYA       2         -2    1           2         1       3
26      mBox One       3          1    2           2        -2       2
27  Playsystem 4       3          1    3           2        -2       2
28     mBox Next       2          2    2           1        -2       3
29  Playsystem 5       3         -2    2           3        -2       2

In [82]:
systems_audience = system_table.iloc[1:-3,-3:]
systems_audience_first_col = system_table.iloc[1:,0]
systems_audience.insert(0,"Topics",systems_audience_first_col)
systems_audience = systems_audience.applymap(convert_to_numerical)
systems_audience

          Topics   8  9  10
1         System   Y  E   M
2             PC   1  2   3
3            G64   1  2   3
4            TES   3  2  -3
5       Master V   2  3  -2
6       Gameling   3  2  -3
7      Vena Gear   2  3   1
8     Vena Oasis   1  3   2
9      Super TES   3  2  -2
10    Playsystem   1  3   2
11        TES 64   3  2   2
12     DreamVast  -2  3   3
13  Playsystem 2   2  3   1
14          mBox   1  3   2
15   Game Sphere   2  2   1
16            GS   3  2   1
17           PPS   1  2   3
18      mBox 360   1  2   3
19           Nuu   3  3  -2
20  Playsystem 3   1  3   2
21       grPhone   2  3  -3
22         grPad   2  3  -3
23          mPad  -2  2   1
24           Wuu   2  3  -2
25           OYA   1  3   2
26      mBox One  -2  3   1
27  Playsystem 4   1  3   2
28     mBox Next   2  3   1
29  Playsystem 5   1  3   2

In [83]:
list_of_dfs[5]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Genre,T/D,NaN,Stage 1,Stage 1,Stage 1,NaN,Stage 2,Stage 2,Stage 2,NaN,Stage 3,Stage 3,Stage 3
1,Genre,T/D,NaN,Engine,Gameplay,Story / Quests,NaN,Dialogues,Level Design,AI,NaN,World Design,Graphics,Sound
2,Action,1.8,NaN,+++,++,−−,NaN,−−−,++,+++,NaN,~,+++,++
3,Adventure,0.4,NaN,−−,~,+++,NaN,+++,-,−−,NaN,+++,++,~
4,RPG,0.6,NaN,−−,++,+++,NaN,+++,++,~,NaN,+++,++,~
5,Simulation,1.6,NaN,++,+++,~,NaN,−−,++,+++,NaN,~,+++,++
6,Strategy,1.4,NaN,++,+++,~,NaN,−−,+++,++,NaN,+++,~,++
7,Casual,0.5,NaN,−−−,+++,−−,NaN,−−,+++,−−−,NaN,−−,+++,++