## Extracting Tables from Wikia Site

In [51]:
import pandas as pd

url = "https://gamedevtycoon.fandom.com/wiki/Game_Development_Based_on_Experience/1.4.3#Multi-Genre_combinations"

In [52]:
list_of_dfs = pd.read_html(url)

In [53]:
df = list_of_dfs[2]
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,Topic,Genres,Genres,Genres,Genres,Genres,Genres,NaN,Audiences,Audiences,Audiences
1,Topic,Action,Adventure,RPG,Simulation,Strategy,Casual,NaN,Y,E,M
2,Abstract,++,+++,−−−,−−−,+,−−−,NaN,+,++,+++
3,Airplane,+++,−−−,+,+++,+++,+++,NaN,+++,+++,++
4,Aliens,+++,+,+++,−−−,++,−−,NaN,++,+++,+++

In [54]:
topics = df.iloc[1:-2,0:7]

In [55]:
def convert_to_numerical(value):
    plus_count = value.count('+')
    minus_count = value.count('−')
    
    if plus_count > minus_count:
        return plus_count
    elif plus_count < minus_count:
        return -minus_count
    else:
        return value

topics = topics.applymap(convert_to_numerical)

In [56]:
topics

                    0       1          2    3           4         5       6
1               Topic  Action  Adventure  RPG  Simulation  Strategy  Casual
2            Abstract       2          3   -3          -3         1      -3
3            Airplane       3         -3    1           3         3       3
4              Aliens       3          1    3          -3         2      -2
5   Alternate History       3          1    3           1         2      -3
..                ...     ...        ...  ...         ...       ...     ...
64        Virtual Pet      -3          1    2           3         2       3
65         Vocabulary      -3         -3   -3           3         3       3
66           Werewolf       3          1    3          -3        -3      -2
67          Wild West       2         -2    3          -3        -3      -2
68            Zombies       3         -2   -3          -3         2       3

[68 rows x 7 columns]

In [57]:
audience = df.iloc[1:-2,-3:]
audience_first_col = df.iloc[1:,0]
audience.insert(0,"Topics",audience_first_col)

In [60]:
audience = audience.applymap(convert_to_numerical)
audience

               Topics   8  9  10
1               Topic   Y  E   M
2            Abstract   1  2   3
3            Airplane   3  3   2
4              Aliens   2  3   3
5   Alternate History  -3  3   3
..                ...  .. ..  ..
64        Virtual Pet   3  1  -2
65         Vocabulary   2  3  -3
66           Werewolf  -2  2   3
67          Wild West   3  2   3
68            Zombies   2  1   3

[68 rows x 4 columns]